In [1]:
import pandas as pd
from matplotlib import pyplot as plt

In [2]:
rawdata = pd.read_csv('data/train.csv', sep=',', low_memory=False)
rawdata.to_csv('export.csv')

In [7]:
rawdata[(rawdata.loc[:,'Store'] == 1) & (rawdata.loc[:,'DayOfWeek'] == 6)].loc[:,'Sales']

6690       4364
14495      4406
22300      3530
30105      4797
37910      4019
45715      4097
53520      4256
61325      4183
69130      5592
76935      4276
84740      4431
92545      4945
100350     5850
108155     4318
115960     4594
123765     4173
131570     6709
139375     5208
147180     3909
154985     5225
162790     4592
170595     5289
178400     4475
186205     5015
194010     4663
201815     5363
209620     4840
217425     5255
225230     4599
233035     5023
           ...
785290     3352
793095     4421
800900     4015
808705     4090
816510     5804
824315     4341
832120     4766
839925     4262
847730     5693
855535     4408
863340     4413
871145     5064
878950     5912
886755     5726
894560     4350
902365     4773
910170     5075
917975     7132
925780     5603
933585     5003
941390     5578
949195     5350
957000     5237
964805     6154
972610     5370
980415     5970
988220     5598
996025     5182
1003830    4952
1011635    4997
Name: Sales, Length: 134, dtype: int64

In [6]:
testdata = pd.read_csv('data/test.csv', sep=',', low_memory=False)
testdata

,Id,Store,DayOfWeek,Date,Open,Promo,StateHoliday,SchoolHoliday
0,1,1,4,2015-09-17,1.0,1,0,0
1,2,3,4,2015-09-17,1.0,1,0,0
2,3,7,4,2015-09-17,1.0,1,0,0
3,4,8,4,2015-09-17,1.0,1,0,0
4,5,9,4,2015-09-17,1.0,1,0,0
5,6,10,4,2015-09-17,1.0,1,0,0
6,7,11,4,2015-09-17,1.0,1,0,0
7,8,12,4,2015-09-17,1.0,1,0,0
8,9,13,4,2015-09-17,1.0,1,0,0
9,10,14,4,2015-09-17,1.0,1,0,0
10,11,15,4,2015-09-17,1.0,1,0,0
11,12,16,4,2015-09-17,1.0,1,0,0
12,13,19,4,2015-09-17,1.0,1,0,0
13,14,20,4,2015-09-17,1.0,1,0,0
14,15,21,4,2015-09-17,1.0,1,0,0
15,16,22,4,2015-09-17,1.0,1,0,0
16,17,23,4,2015-09-17,1.0,1,0,0
17,18,24,4,2015-09-17,1.0,1,0,0
18,19,25,4,2015-09-17,1.0,1,0,0
19,20,27,4,2015-09-17,1.0,1,0,0
20,21,29,4,2015-09-17,1.0,1,0,0
21,22,30,4,2015-09-17,1.0,1,0,0
22,23,31,4,2015-09-17,1.0,1,0,0
23,24,32,4,2015-09-17,1.0,1,0,0
24,25,33,4,2015-09-17,1.0,1,0,0
25,26,35,4,2015-09-17,1.0,1,0,0
26,27,36,4,2015-09-17,1.0,1,0,0
27,28,38,4,2015-09-17,1.0,1,0,0
28,29,39,4,2015-09-17,1.0,1,0,0
29,30,40,4,2015-09-17,1.0,1,0,0
...,...,...,...,...,...,...,...,...
41058,41059,1077,6,2015-08-01,1.0,0,0,0
41059,41060,1078,6,2015-08-01,1.0,0,0,0
41060,41061,1079,6,2015-08-01,1.0,0,0,1
41061,41062,1080,6,2015-08-01,1.0,0,0,0
41062,41063,1083,6,2015-08-01,1.0,0,0,1
41063,41064,1084,6,2015-08-01,1.0,0,0,1
41064,41065,1086,6,2015-08-01,1.0,0,0,1
41065,41066,1087,6,2015-08-01,1.0,0,0,1
41066,41067,1088,6,2015-08-01,1.0,0,0,0
41067,41068,1089,6,2015-08-01,1.0,0,0,0
41068,41069,1091,6,2015-08-01,1.0,0,0,0
41069,41070,1092,6,2015-08-01,1.0,0,0,0
41070,41071,1094,6,2015-08-01,1.0,0,0,0
41071,41072,1096,6,2015-08-01,1.0,0,0,0
41072,41073,1097,6,2015-08-01,1.0,0,0,0
41073,41074,1099,6,2015-08-01,1.0,0,0,0
41074,41075,1100,6,2015-08-01,1.0,0,0,0
41075,41076,1101,6,2015-08-01,1.0,0,0,0
41076,41077,1102,6,2015-08-01,1.0,0,0,0
41077,41078,1103,6,2015-08-01,1.0,0,0,1
41078,41079,1104,6,2015-08-01,1.0,0,0,0
41079,41080,1105,6,2015-08-01,1.0,0,0,0
41080,41081,1106,6,2015-08-01,1.0,0,0,0
41081,41082,1107,6,2015-08-01,1.0,0,0,0
41082,41083,1109,6,2015-08-01,1.0,0,0,0
41083,41084,1111,6,2015-08-01,1.0,0,0,0
41084,41085,1112,6,2015-08-01,1.0,0,0,0
41085,41086,1113,6,2015-08-01,1.0,0,0,0
41086,41087,1114,6,2015-08-01,1.0,0,0,0
41087,41088,1115,6,2015-08-01,1.0,0,0,1

In [ ]:
data_test[(data_test[0]==j) & (data_test['KNN_test']==j)]

In [8]:
stores = pd.read_csv('data/store.csv', sep=',', low_memory=False)
stores

,Store,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval
0,1,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
1,2,a,a,570.0,11.0,2007.0,1,13.0,2010.0,"Jan,Apr,Jul,Oct"
2,3,a,a,14130.0,12.0,2006.0,1,14.0,2011.0,"Jan,Apr,Jul,Oct"
3,4,c,c,620.0,9.0,2009.0,0,NaN,NaN,NaN
4,5,a,a,29910.0,4.0,2015.0,0,NaN,NaN,NaN
5,6,a,a,310.0,12.0,2013.0,0,NaN,NaN,NaN
6,7,a,c,24000.0,4.0,2013.0,0,NaN,NaN,NaN
7,8,a,a,7520.0,10.0,2014.0,0,NaN,NaN,NaN
8,9,a,c,2030.0,8.0,2000.0,0,NaN,NaN,NaN
9,10,a,a,3160.0,9.0,2009.0,0,NaN,NaN,NaN
10,11,a,c,960.0,11.0,2011.0,1,1.0,2012.0,"Jan,Apr,Jul,Oct"
11,12,a,c,1070.0,NaN,NaN,1,13.0,2010.0,"Jan,Apr,Jul,Oct"
12,13,d,a,310.0,NaN,NaN,1,45.0,2009.0,"Feb,May,Aug,Nov"
13,14,a,a,1300.0,3.0,2014.0,1,40.0,2011.0,"Jan,Apr,Jul,Oct"
14,15,d,c,4110.0,3.0,2010.0,1,14.0,2011.0,"Jan,Apr,Jul,Oct"
15,16,a,c,3270.0,NaN,NaN,0,NaN,NaN,NaN
16,17,a,a,50.0,12.0,2005.0,1,26.0,2010.0,"Jan,Apr,Jul,Oct"
17,18,d,c,13840.0,6.0,2010.0,1,14.0,2012.0,"Jan,Apr,Jul,Oct"
18,19,a,c,3240.0,NaN,NaN,1,22.0,2011.0,"Mar,Jun,Sept,Dec"
19,20,d,a,2340.0,5.0,2009.0,1,40.0,2014.0,"Jan,Apr,Jul,Oct"
20,21,c,c,550.0,10.0,1999.0,1,45.0,2009.0,"Jan,Apr,Jul,Oct"
21,22,a,a,1040.0,NaN,NaN,1,22.0,2012.0,"Jan,Apr,Jul,Oct"
22,23,d,a,4060.0,8.0,2005.0,0,NaN,NaN,NaN
23,24,a,c,4590.0,3.0,2000.0,1,40.0,2011.0,"Jan,Apr,Jul,Oct"
24,25,c,a,430.0,4.0,2003.0,0,NaN,NaN,NaN
25,26,d,a,2300.0,NaN,NaN,0,NaN,NaN,NaN
26,27,a,a,60.0,1.0,2005.0,1,5.0,2011.0,"Jan,Apr,Jul,Oct"
27,28,a,a,1200.0,10.0,2014.0,1,6.0,2015.0,"Mar,Jun,Sept,Dec"
28,29,d,c,2170.0,NaN,NaN,0,NaN,NaN,NaN
29,30,a,a,40.0,2.0,2014.0,1,10.0,2014.0,"Mar,Jun,Sept,Dec"
...,...,...,...,...,...,...,...,...,...,...
1085,1086,a,a,180.0,11.0,2013.0,1,18.0,2011.0,"Feb,May,Aug,Nov"
1086,1087,d,c,2210.0,11.0,2011.0,0,NaN,NaN,NaN
1087,1088,a,a,4300.0,3.0,2009.0,1,27.0,2013.0,"Jan,Apr,Jul,Oct"
1088,1089,d,a,5220.0,5.0,2009.0,0,NaN,NaN,NaN
1089,1090,a,a,330.0,NaN,NaN,1,14.0,2011.0,"Jan,Apr,Jul,Oct"
1090,1091,a,c,9990.0,NaN,NaN,0,NaN,NaN,NaN
1091,1092,a,a,300.0,7.0,2000.0,1,40.0,2014.0,"Jan,Apr,Jul,Oct"
1092,1093,c,c,10450.0,6.0,2009.0,0,NaN,NaN,NaN
1093,1094,d,a,2380.0,3.0,2013.0,1,40.0,2014.0,"Jan,Apr,Jul,Oct"
1094,1095,a,a,690.0,6.0,2007.0,1,14.0,2011.0,"Jan,Apr,Jul,Oct"
1095,1096,a,c,1130.0,NaN,NaN,1,10.0,2014.0,"Mar,Jun,Sept,Dec"
1096,1097,b,b,720.0,3.0,2002.0,0,NaN,NaN,NaN
1097,1098,a,a,1830.0,11.0,2004.0,0,NaN,NaN,NaN
1098,1099,a,c,200.0,4.0,2013.0,1,14.0,2013.0,"Jan,Apr,Jul,Oct"
1099,1100,a,a,540.0,NaN,NaN,1,14.0,2011.0,"Jan,Apr,Jul,Oct"
1100,1101,d,c,4060.0,9.0,2012.0,0,NaN,NaN,NaN
1101,1102,a,a,850.0,11.0,2012.0,1,40.0,2014.0,"Jan,Apr,Jul,Oct"
1102,1103,d,c,1340.0,10.0,2006.0,1,5.0,2013.0,"Feb,May,Aug,Nov"
1103,1104,d,a,260.0,2.0,2012.0,1,14.0,2011.0,"Jan,Apr,Jul,Oct"
1104,1105,c,c,330.0,11.0,2008.0,1,5.0,2013.0,"Feb,May,Aug,Nov"
1105,1106,a,c,5330.0,9.0,2011.0,1,31.0,2013.0,"Jan,Apr,Jul,Oct"
1106,1107,a,a,1400.0,6.0,2012.0,1,13.0,2010.0,"Jan,Apr,Jul,Oct"
1107,1108,a,a,540.0,4.0,2004.0,0,NaN,NaN,NaN
1108,1109,c,a,3490.0,4.0,2011.0,1,22.0,2012.0,"Jan,Apr,Jul,Oct"
1109,1110,c,c,900.0,9.0,2010.0,0,NaN,NaN,NaN
1110,1111,a,a,1900.0,6.0,2014.0,1,31.0,2013.0,"Jan,Apr,Jul,Oct"
1111,1112,c,c,1880.0,4.0,2006.0,0,NaN,NaN,NaN
1112,1113,a,c,9260.0,NaN,NaN,0,NaN,NaN,NaN
1113,1114,a,c,870.0,NaN,NaN,0,NaN,NaN,NaN
1114,1115,d,c,5350.0,NaN,NaN,1,22.0,2012.0,"Mar,Jun,Sept,Dec"